@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  /* background-color: rgb(255, 255, 255); */
  background: linear-gradient(45deg, rgb(187, 255, 248), rgb(168, 208, 232), rgb(242, 219, 243));
  color: rgb(0, 0, 0);
}

header {
  margin: 5px 10px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff27;
  cursor: pointer;
}

nav {
  cursor: pointer;
  padding: 20px 8px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  color: rgb(19, 19, 19);
  display: flex;
  background-color: #0f0f0f27;
  border-radius: 8px;
  flex-direction: column;
  cursor: pointer;
  align-items: left;
}

nav h1 {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  align-items: center;
  justify-content: baseline;
}

nav h1 img {
  height: 34px;
  width: 35px;
  border-radius: 20px;
  margin: 0px 7px;
}

nav h6 {
  color: white;
  font-size: 1.2rem;
}

.container {
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  margin: 5px 10px;
  /* background-image: linear-gradient(to bottom right, #f3f3f3, #b4b4b4); */
}

.player {
  border-radius: 7px;
  display: flex;
  width: max-content;
  height: max-content;
  cursor: pointer;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  background-color: transparent;
}


#songDetails {
  display: flex;
  padding: 30px;
  border-radius: 7px;
  margin: 10px 0px;
  background-color: #0f0f0f21;
  flex-direction: column;
  cursor: pointer;
  width: 320px;
  flex-wrap: wrap;
  height: max-content;
}

#songTitle {
  color: rgb(29, 29, 29);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  padding: 5px 0px;
  font-family: 'Kanit', sans-serif;
}

#songArtist {
  color: rgb(252, 252, 252);
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
}

#songImage {
  height: 300px;
  width: 320px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(253, 253, 253);
  margin-bottom: 10px;
}

#audioPlayer {
  margin: 5px;
  width: 320px;
  cursor: pointer;
  height: 55px;
}

.controls {
  border-radius: 5px;
  display: flex;
  background-color: #0c0c0c23;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px 0px;
  cursor: pointer;
}

.controls button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 5px;
  padding: 10px;
}

.controls button:hover {
  color: white;
}

.controls button img {
  height: 20px;
  width: 20px;
}

#songList {
  border-radius: 7px;
  margin: auto;
  padding: 10px;
  /* background-image: linear-gradient(to bottom right, #0b7c01, #21f59d); */
  list-style: none;
  border-radius: 8px;
  display: flex;
  width: 72%;
  flex-direction: column;
  margin-top: 20px;
}

#songList li {
  color: #171717;
  padding: 10px 15px;
  background-color: #8c8c8c27;
  margin: 4px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

#songList li:hover {
  background-color: #00000022;
}

/* footer css  */
footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h2 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff;
}

.contact-form textarea {
  height: 100px;
}

.footer-bottom {
  background-color: #111;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}